.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative; 
  }
  
  .main-content {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    width: 250px;
    background-color: #f4f4f4;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 64px; 
    z-index: 90;
  }
  
  .content {
    margin-left: 250px; 
    padding: 20px;
    flex: 1;
    margin-top: 64px;
  }