html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif !important; 
  }
  
  .mat-typography, mat-card, mat-table, mat-form-field, mat-label, mat-header-cell, mat-cell, button {
    font-family: 'Poppins', sans-serif !important;
  }

  .custom-snackbar {
    font-family: 'Poppins', sans-serif !important;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
  }
  
  .custom-snackbar .mat-snack-bar-action {
    color: white;
    font-family: 'Poppins', sans-serif !important;
  }